body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #403a70;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  color: #a2a4ab;
}
a {
  color: #266c97;
  font-weight: bold;
}

strong {
  color: #fcb83c;
}

.weather-container {
  width: 700px;
  height: 605px;
  margin: 25px auto;
  background: #0b121e;
  border: 1px solid #0b121e;
  border-radius: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 30px;
}
.weather-search-bar {
  width: 80%;
  margin: 10px auto;
}
.search-input {
  width: 80%;
  padding: 8px 15px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #0b121e;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
}
.search-button {
  padding: 8px 20px;
  font-size: 18px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  background: #fcb83c;
  color: #0b121e;
}

.city {
  margin: 0;
  font-size: 36px;
}
.city-weather {
  width: 80%;
  height: 150px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 500px;
  grid-gap: 0px;
  padding: 10px 0px 0px 30px;
}

.weather-details {
  width: 80%;
  margin: 5px auto;
  padding: 10px 0px 10px 30px;
  color: #fff;
  border-radius: 10px;
  font-size: 19px;
  background: #202b3c;
}
.haze {
  padding-left: 234px;
}
.wind {
  padding-left: 218px;
}
.temperature {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  top: -70px;
}

.temperature-icon {
  width: 130px;
  height: 130px;
  position: relative;
  right: 10px;
  top: -10px;
  left: 120px;
}

.temperature-value {
  font-size: 53px;
  font-weight: 700;
}

.temperature-unit {
  font-size: 25px;
  margin-top: 14px;
  margin-left: 2px;
}
.weather-forecast {
  width: 82%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  background: #202b3c;
  border-radius: 10px;
}
.weather-forecast-date {
  text-align: center;
  color: #fcb83c;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 18px;
  color: #266c97;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  color: #4e5865;
  font-size: 17px;
  text-align: center;
  margin: 25px auto;
  padding-top: 10px;
}
