body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: whitesmoke;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  color: palevioletred;
}
a {
  color: blueviolet;
  font-weight: bold;
}

strong {
  color: lightseagreen;
}

.weather-container {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/104/713/original/weather-background.jpg?1700662097");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 80vh;
  height: 60vh;
  margin: 50px auto;
  border: 1px solid lightblue;
  border-radius: 17px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  padding: 30px;
}

.search-input {
  width: 80%;
  margin: 20px auto;
  padding: 8px 15px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #02283d;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
}

.search-button {
  padding: 8px 20px;
  font-size: 18px;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  background: blueviolet;
  color: #fff;
}

.temperature-container {
  max-width: 650px;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.city h1 {
  margin: 0;
  font-size: 38px;
}

.city p {
  margin: 5px 0px;
  padding: 0;
  color: #000;
}
.temperature {
  display: flex;
  margin-left: 0;
}

.temperature-icon {
  width: 85px;
  height: 85px;
}

.temperature-value {
  font-size: 55px;
  font-weight: 700;
  line-height: 85px;
}

.temperature-unit {
  font-size: 25px;
  margin-top: 16px;
}
.weather-forecast {
  margin-top: 20px;
  /* text-align: center; */
}
.weather-forecast-day {
  font-size: 18px;
  color: palevioletred;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 16px;
  color: lightseagreen;
}
.max-temperature {
  font-size: 16px;
}
.min-temperature {
  opacity: 0.5;
}

footer {
  text-align: center;
  color: #000;
  font-size: 16px;
  margin: 35px 0px;
}
